APP_NAME=curiona
APP_ENV=development

DB_NAME=roadmap
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_CONNECT_TIMEOUT=1m
DB_POOL_MIN_CONNS=0
DB_POOL_MAX_CONNS=8
DB_POOL_MAX_CONN_LIFETIME=1h
DB_POOL_MAX_CONN_IDLE_TIME=30m
DB_POOL_HEALTH_CHECK_PERIOD=5s

REDIS_DB=0
REDIS_NETWORK=tcp
REDIS_ADDR=
REDIS_USERNAME=
REDIS_PASSWORD=

ACCESS_SECRET_KEY=
ACCESS_SECRET_EXPIRES_IN=1h
REFRESH_SECRET_KEY=
REFRESH_SECRET_EXPIRES_IN=720h

# OpenAI
LLM_PROVIDER=openai
LLM_API_KEY=
LLM_MODEL=gpt-4o-mini
# LLM_MODEL=gpt-4o
# LLM_MODEL=o3-mini

# DeepSeek
# LLM_PROVIDER=deepseek
# LLM_API_KEY=
# LLM_MODEL=deepseek-chat
# LLM_MODEL=deepseek-coder
# LLM_MODEL=deepseek-reasoner

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_BOOKS_API_KEY=
YOUTUBE_API_KEY=

OTLP_EXPORTER_ENDPOINT=localhost:4317
